PORT=5000
MONGODB_URI=mongodb+srv://lenkashreepali_db_user:Taskflow123@cluster0.ral2voi.mongodb.net/mern-todo?retryWrites=true&w=majority
JWT_SECRET=mysecretkey123456789
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:3000
